<ion-header translucent class="ion-no-border">
  <ion-toolbar style="    --background: #c73007;color: whitesmoke">
    <ion-buttons slot="start" >
      <ion-back-button style="--color:whitesmoke" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size:1.5em">FAQs</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div >
  <div id="faq" >
    <ul > 
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. How can I register on rodra website?
        </h2>
        <p class="ion-text-wrap">A. To register the website follow the step by step instructions made available on the website itself.</p> 
      </li>
      
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. Who all can register on the website?
        </h2>
        <p class="ion-text-wrap">A. The offrs of IA (less TA, NCC) can register on the website.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. What basic details one &nbsp;&nbsp;should keep handy before accessing the website for registration?
        </h2>
        <p class="ion-text-wrap">A. Offr/NOK must know date of commission, date of Birth, date of release/retirement/dismissal/death, mobile No (to obtain OTP) and email ID.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>
          Q. What should I do, if after &nbsp;filling up the basic details, the website shows message to contact the record office?
        </h2>
        <p>A. Please send whatsapp message at mobile No 83680 51743 or contact at 011-2619 5669 & 2086 3044 or email the grievance on email ID (offr.record@gov.in).</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>
          Q. What are features of rodra website?
        </h2>
        <p>A. The website facilitates the veteransoffrs and their NOK/dependents to address their grievances/queries promptly for speedy action by AG/MP5(b) and concerned agencies. It also provides them a tool to update their data with AG/MP 5(b), the link for various websites, to download ePPOs, forms with check list of docu (subject wise) and also the contact details of PCDA (O) Pune, PCDA (P) Allahabad and MP 5 & 6.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>
          Q. If docu are uploaded on website for any purpose, still the docu need to be submitted by post?
        </h2>
        <p>A. Only those documents which are required in original for onward submission to PCDA (P) Allahabad and other other agencies will require to be sent by post also.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>
          Q. If, ePPO is not available to download on website, what should I do?
        </h2>
        <p>A. The pensioners may contact PCDA (P) Allahabad regarding ePPO. If, the same is printed get the ePPO No, check its availability on RODRA website and download for future reference. If the ePPO is not generated, fill up the 7th CPC revision form available in dropdown list of LPC-cum-Data Sheet on rodrawebsite, upload supporting docu like initial PPO, latest PPO, disability pension PPO (if any), PAN &Aadhar cards (self & spouse, only alive members), copy of cheque (pension account). If facing any difficulties in filling up the form, the said documents can be emailed to OIC APACC c/o PCDA (O) Pune at email ID ramkc.56656@gov.in.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>
          Q. How much time does it generally take to issue ePPO after submission of requisite details?
        </h2>
        <p>A. On receipt of docu, APACC c/o PCDA (O) Pune downloads the documents, hand over to PCDA (O) Pune under covering Note and PCDA (O) Pune issues eLPC to PCDA (P) and the ePPO is issued by PCDA (P) Allahabad. The ePPO is uploaded by AG/MP 5 (b) on rodra website on receipt by email from OIC DPCC. The complete process normally involves 08-10 weeks of time</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2 >
          Q. What should I do if any &nbsp;details are not incl in ePPO are wrongly notified?
        </h2>
        <p>A. Submit an online grievance on AG/MP5(b) email ID (offr.record@gov.in) with a copy to PCDA (P) Allahabad website on their website (www.pcdapension.nic.in).</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>
          Q. My ePPO is uploaded on website, however the hard copy is not received?
        </h2>
        <p>A. ePPO are digitally signed and digitally transmitted to all agencies, hence hard copy has been done away by PCDA (P) Allahabad. Pensioner may download the same from rodrawebsite and preserve a copy for future reference, if desirous.</p>
      </li>

    </ul>
  </div>
</div>
  <!------ 2 list data  -->
  <div id="faq" *ngIf="text=='2'">
    <ul > 
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. How can I register on rodra website?
        </h2>
        <p class="ion-text-wrap">A. To register the website follow the step by step instructions made available on the website itself.</p> 
      </li>
      
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. Who all can register on the website?
        </h2>
        <p class="ion-text-wrap">A. The offrs of IA (less TA, NCC) can register on the website.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. What basic details one &nbsp;&nbsp;should keep handy before accessing the website for registration?
        </h2>
        <p class="ion-text-wrap">A. Offr/NOK must know date of commission, date of Birth, date of release/retirement/dismissal/death, mobile No (to obtain OTP) and email ID.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>
          Q. What should I do, if after &nbsp;filling up the basic details, the website shows message to contact the record office?
        </h2>
        <p>A. Please send whatsapp message at mobile No 83680 51743 or contact at 011-2619 5669 & 2086 3044 or email the grievance on email ID (offr.record@gov.in).</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>
          Q. What are features of rodra website?
        </h2>
        <p>A. The website facilitates the veteransoffrs and their NOK/dependents to address their grievances/queries promptly for speedy action by AG/MP5(b) and concerned agencies. It also provides them a tool to update their data with AG/MP 5(b), the link for various websites, to download ePPOs, forms with check list of docu (subject wise) and also the contact details of PCDA (O) Pune, PCDA (P) Allahabad and MP 5 & 6.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>
          Q. If docu are uploaded on website for any purpose, still the docu need to be submitted by post?
        </h2>
        <p>A. Only those documents which are required in original for onward submission to PCDA (P) Allahabad and other other agencies will require to be sent by post also.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>
          Q. If, ePPO is not available to download on website, what should I do?
        </h2>
        <p>A. The pensioners may contact PCDA (P) Allahabad regarding ePPO. If, the same is printed get the ePPO No, check its availability on RODRA website and download for future reference. If the ePPO is not generated, fill up the 7th CPC revision form available in dropdown list of LPC-cum-Data Sheet on rodrawebsite, upload supporting docu like initial PPO, latest PPO, disability pension PPO (if any), PAN &Aadhar cards (self & spouse, only alive members), copy of cheque (pension account). If facing any difficulties in filling up the form, the said documents can be emailed to OIC APACC c/o PCDA (O) Pune at email ID ramkc.56656@gov.in.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>
          Q. How much time does it generally take to issue ePPO after submission of requisite details?
        </h2>
        <p>A. On receipt of docu, APACC c/o PCDA (O) Pune downloads the documents, hand over to PCDA (O) Pune under covering Note and PCDA (O) Pune issues eLPC to PCDA (P) and the ePPO is issued by PCDA (P) Allahabad. The ePPO is uploaded by AG/MP 5 (b) on rodra website on receipt by email from OIC DPCC. The complete process normally involves 08-10 weeks of time</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2 >
          Q. What should I do if any &nbsp;details are not incl in ePPO are wrongly notified?
        </h2>
        <p>A. Submit an online grievance on AG/MP5(b) email ID (offr.record@gov.in) with a copy to PCDA (P) Allahabad website on their website (www.pcdapension.nic.in).</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>
          Q. My ePPO is uploaded on website, however the hard copy is not received?
        </h2>
        <p>A. ePPO are digitally signed and digitally transmitted to all agencies, hence hard copy has been done away by PCDA (P) Allahabad. Pensioner may download the same from rodrawebsite and preserve a copy for future reference, if desirous.</p>
      </li>

    </ul>
  </div>
   <!------ 3 list data  -->
   <div id="faq" *ngIf="text=='3'">
    <ul > 
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. What are the rates of EI?
        </h2>
        <p class="ion-text-wrap">A. Rs 10.00 lacs.</p> 
      </li>
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. What is the procedure to claim EI?
        </h2>
        <p class="ion-text-wrap">A. The NOK needs to submit an application to AGIF alongwith EI certificate issued by AGIF at the time of offr’s retirement, death certificate of the offr and a copy cancelled cheque.</p> 
      </li>
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. What is the period of EI?
        </h2>
        <p class="ion-text-wrap">A. It is 30 years from the date of retirement or 80 years of age whichever is earlier.</p> 
      </li>
      </ul>
      </div>

         <!------ 4 list data  -->
   <div id="faq" *ngIf="text=='4'">
    <ul > 
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. How can I change or amend the spouse name in PPO?
        </h2>
        <p class="ion-text-wrap">A. The list of docu is provided in download link of this website. Complete the docu and submit with supporting docu to AG/MP 5(b).</p> 
      </li>
      </ul>
      </div>

         <!------ 5 list data  -->
   <div id="faq" *ngIf="text=='5'">
    <ul > 
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. What are actions on the part of NOK on demise of pensioner?
        </h2>
        <p class="ion-text-wrap">A. The revised advisory `Actions by NOK on demise of pensioner’ has ben uploaded in download link of website. Please refer the advisory and take necessary action per the instructions contained in the advisory.</p> 
      </li>
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. My wife has expired, what actions I need to take?
        </h2>
        <p class="ion-text-wrap">A. Please send a copy of death certificate of spouse to AG/MP5(b) to update record of service and to intimate PCDA (P) Allahabad to update their record.</p> 
      </li>
      </ul>
      </div>

              <!------ 6 list data  -->
   <div id="faq" *ngIf="text=='6'">
    <ul > 
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. How can I change or amend the spouse name in PPO?
        </h2>
        <p class="ion-text-wrap">A. The list of docu is provided in download link of this website. Complete the docu and submit with supporting docu to AG/MP 5(b).</p> 
      </li>
      </ul>
      </div>
              <!------  list data  -->
   <div id="faq" *ngIf="text=='7'">
    <ul > 
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. How can I change or amend the spouse name in PPO?
        </h2>
        <p class="ion-text-wrap">A. The list of docu is provided in download link of this website. Complete the docu and submit with supporting docu to AG/MP 5(b).</p> 
      </li>
      </ul>
      </div>

              <!------ 8 list data  -->
   <div id="faq" *ngIf="text=='8'">
    <ul > 
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. What are the schemes extended by KSB to ESMs?
        </h2>
        <p class="ion-text-wrap">A. KSB extends the fwg schemes or benefits to ESMs & their wards (offrs and all rks) :-<br>
Financial assistance to orphan children.<br>
Financial assistance for treatment of serious diseases to Non Pensioner ESM not member of any health scheme.<br>
Financial assistance for procuring mobility equipment for disabled ESM after retirement.</p> 
      </li>
         <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
         Q. What is the procedure to obtain the benefits of KSB schemes?
        </h2>
        <p class="ion-text-wrap">A. The claimant must approach KSB through the nearest ZilaSainik Welfare Officer. The list alongwith contact details of ZSWOs is available with `Advisory on actions to be taken by spouse on demise of pensioner’ which is available in download link of website.</p> 
      </li>
         <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
         Q. Is there any reservation in Govt universities for wards of ESM?
        </h2>
        <p class="ion-text-wrap">A. Yes, there is a quota of 5% in all Universities controlled by Central Govt. However, there is embargo to extend the reservation in State Universities which directly controlled by the particular State.</p> 
      </li>
      </ul>
      </div>

              <!------ 9 list data  -->
   <div id="faq" *ngIf="text=='9'">
    <ul > 
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2 class="ion-text-wrap">
          Q. Who all are eligible for ECHS membership?
        </h2>
        <p class="ion-text-wrap">A. ESM, SSCOs & ECOs non pensioner (Only self & spouse), dependent unemployed & unmarried/divorced/widowed daughter, handicapped child, son (upto the age of age of 25 yrs) and dependent parents.</p> 
      </li>
      </ul>
      </div>
  </ion-content>