<ion-header>
  <ion-toolbar style="--background: #c73007">
    <ion-buttons slot="start" >
      <ion-back-button style="color:aliceblue" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:aliceblue">
      About
    </ion-title>   
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      MP 5&6 is responsible for maintaining records of serving and veteran officers of Indian Army.  MPRS(O) is responsible for maintaining records of all Medical Officers (AMC, ADC & MNS). We are now in the process of automating these records for better responsiveness. This website has been launched with the aim to develop an interface between veterans and MP 5&6/MPRS(O) as also to create a digital data repository.  The facility has now been extended to veteran of AMC, ADC and MNS. It will enable us to connect with the veteran officers and family pensioners and address their grievances related to pension in a better manner and also update them on the relevant policies. 
In case of any anomaly in disbursement of pension, registered users will be able to generate LPC cum Data Sheet easily, print it out, sign, scan and upload it for further processing by usily, print it out, sign, scan and upload it for further processing by us.
The capture of digital data is in a nascent stage, hence, we request the support of our veterans to update the same. Towards this end, facility has been provided to the registered users to update their particulars and upload requisite documents, where required.
We look forward to our veterans for their cooperation in updating the records of our veterans & family pensioners to enable us to serve you better. May we request all veteran officers seeing this website to encourage other veteran officers & family pensioners to register on this website.
<ion-card>
  <h4 style="color: #ff0000"><strong>HUMBLE REQUEST : VISITORS MP 5&amp;6</strong></h4>
  <h4 style="color: #0015ff">To Contain the spread of Novel Corona Virus (COVID-19), personal visit of visitors to MP 5&amp;6 have been stopped. Visitors are humbly requested to cooperate and approach AG/MP 5&amp;6 through following means :-</h4>
  <h4 style="color: #0015ff">(a) RODRA Website                 - rodra.gov.in </h4>
  <h4 style="color: #0015ff">(b) Helpline Tele No              - 011-20863044 </h4>
  <h4 style="color: #0015ff">(c) Helpline Mob  No              - 8130591689 </h4>
  <h4 style="color: #0015ff">(d) Email                         - offr.record@gov.in </h4>
</ion-card>
    </ion-card>
  </ion-content>