<ion-header>
  <ion-toolbar style="    --background: #c73007;color: whitesmoke">
    <ion-buttons slot="start">
      <ion-back-button style="--color:whitesmoke" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Open Lpc
    </ion-title>
    <ion-buttons slot="end" (click)="showMenu()">
      <ion-icon style="--color:whitesmoke;font-size: 1.5em;" name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
 </ion-header>
 <ion-content>
  <ion-card class="details">
    <ion-card-content>Details of Officers</ion-card-content>
  </ion-card>
   <div>
   
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Pers No</ion-label>
        <span>IC31807</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Name</ion-label>
        <span>Richa Singh</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Pers No</ion-label>
        <span>IC31807</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">PPO Number</ion-label>
        <span>IC31807</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Date of Birth</ion-label>
        <span>15/07/1990</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">PAN (Officer)</ion-label>
        <span>PKX06957</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Mobile (USer)</ion-label>
        <span>+919999999990</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Rank</ion-label>
        <span>ccl</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Date of Retirement/Death</ion-label>
        <span>15/07/2000</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Latest Corrigendum PPO Number</ion-label>
        <span>***</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Aadhar NUmber(Officer)</ion-label>
        <span>621456365251256</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Email (User)</ion-label>
        <span>abc@gmail.com</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Date of Birth</ion-label>
        <span>15/07/1990</span>
      </ion-item>
    </ion-card>
   </div>
   <ion-card class="details">
    <ion-card-content>Details of Spouse</ion-card-content>
  </ion-card>
  <div>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Souse Name</ion-label>
        <span>Richa Singh</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Souse Aadhar</ion-label>
        <span>**************</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Mobile (Souse)</ion-label>
        <span>+919986596963</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Souse Date Of Birth</ion-label>
        <span>15/07/1985</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Souse PAN</ion-label>
        <span>BKX0A5686</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Email (Souse)</ion-label>
        <span>**************</span>
      </ion-item>
    </ion-card>
  </div>
  <ion-card class="details">
    <ion-card-content>Family Pensioner (Parents/Unmarried/Widowed/Divorced Daughter/HandicappedChild) (Only If applicable)</ion-card-content>
  </ion-card>
  <div>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Name</ion-label>
        <span>Richa Singh</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Date Of Birth</ion-label>
        <span>15/07/1985</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Aadhar</ion-label>
        <span>**************</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Mobile</ion-label>
        <span>+919986596963</span>
      </ion-item>
    </ion-card>
  
  
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Email</ion-label>
        <span>**************</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Relation</ion-label>
        <span>son</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Family Pensioner type</ion-label>
        <span>nok</span>
      </ion-item>
    </ion-card>
  </div>
  <ion-card class="details">
    <ion-card-content>Bank Details</ion-card-content>
  </ion-card>
  <div>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">BSR code of link branch</ion-label>
        <span>0</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Link branch with address</ion-label>
        <span>***</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Pension Bank A/C No</ion-label>
        <span>101454125145</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">IFSC Code</ion-label>
        <span>***</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">BSR Code of Pension Paying Bank</ion-label>
        <span>0</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Address of Branch Paying Pension</ion-label>
        <span>New Delhi</span>
      </ion-item>
    </ion-card>
  </div>
 </ion-content>