<ion-header>
  <ion-toolbar style="--background: #c73007">
    <ion-buttons slot="start" >
      <ion-back-button style="color:aliceblue" defaultHref="/personalInfo"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:aliceblue">
      Change Password
    </ion-title>   
  </ion-toolbar>
  </ion-header>
<ion-content>
  <div class="login-section ion-padding">
    
    <div class="login-form ion-padding ">
      <div class="form-input">
        
        <ion-item lines="none">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <!-- <ion-label position="floating">Email</ion-label> -->
          <ion-input type="mail" placeholder="Enter Old Password" [(ngModel)]="username"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        
        <ion-item lines="none">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <!-- <ion-label position="floating">Email</ion-label> -->
          <ion-input type="mail" placeholder="Enter New Password" [(ngModel)]="username"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        
        <ion-item lines="none">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <!-- <ion-label position="floating">Email</ion-label> -->
          <ion-input type="mail" placeholder="Confirm New Password" [(ngModel)]="username"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button ion-padding">
      <ion-button expand="round" size="large" class="login-button" style="color: black;">Change Password</ion-button>
     <h5 class="logText" routerLink="/personalInfo" style="color: aliceblue;">Back</h5>
    </div>
  </div>
</ion-content>