<ion-header>
  <ion-toolbar style="--background: #c73007">
    <ion-buttons slot="start" >
      <ion-back-button style="color:aliceblue" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:aliceblue">
      About
    </ion-title>   
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <div style="text-align: justify;">
      Officers Record Office (ORO) (erstwhile MP 5&6) is responsible for maintaining records of serving and veteran officers of Indian Army except AMC, ADC, MNS & TA officers which are maintained by  MPRS(O) & TA Dte respectively. We are now in the process of automating these records for better responsiveness. Accordingly, RODRA website was launched in Aug 2018 with an aim to develop an interface between veterans and ORO/MPRS(O) as well as to create a digital data repository of veteran officers.  For further ease of access by our esteemed veterans or NoKs, this RODRA Mob App has been developed & launched by team ORO. It will enable us to connect with the veteran officers and family pensioners and address their grievances related to pension or documentation in a better manner and also to update them on the relevant policies. 
      In case of any anomaly in disbursement of pension or documentation, registered users will be able to generate LPC cum Data Sheet easily, print it out, sign, scan and upload it for further processing by ORO.
      Presently, the digitisation of veterans data is in a nascent stage, hence, we request the support of our veterans to update the same. Towards this end, a facility has been provided to the registered users to update their particulars through “Edit Data” ost login and upload requisite documents, wherever required.
      We look forward to our esteemed veterans or their NoKs for their cooperation in updating the records to enable us to serve you better. May we request all veteran officers surfing the RODRA website or this App to encourage other veteran officers & family pensioners also to register on RODRA through the website or this App. 
    </div>
      <p style="text-align: center;"> “JAI HIND”</p>
  
    </ion-card>
  </ion-content>