<ion-header>
  <ion-toolbar style="    --background: #c73007;color: whitesmoke">
    <ion-buttons slot="start">
      <ion-back-button style="--color:whitesmoke" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Personal Informations
    </ion-title>
    <ion-buttons slot="end" (click)="showMenu()">
      <ion-icon style="--color:whitesmoke;font-size: 1.5em;" name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
 </ion-header>
<ion-content>
  <div>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Pers No</ion-label>
        <span>IC31807</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Rank</ion-label>
        <span>Col</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Name</ion-label>
        <span>Ashish</span>
      </ion-item>
    </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" class="itemav">
            <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
          </ion-avatar>
          <ion-label position="stacked" style="font-size: 25px;">Date of Birth</ion-label>
          <span>04/03/1975</span>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" class="itemav">
            <ion-icon name="mail-outline" class="itemicon"></ion-icon>
          </ion-avatar>
          <ion-label position="stacked" style="font-size: 25px;">Dt of Commission</ion-label>
          <span>Department</span>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" class="itemav">
            <ion-icon name="call-outline" class="itemicon"></ion-icon>
          </ion-avatar>
          <ion-label position="stacked" style="font-size: 25px;">Dt of Retirement/Death</ion-label>
          <span>06/06/2020</span>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" class="itemav">
            <ion-icon name="person-outline" class="itemicon"></ion-icon>
          </ion-avatar>
          <ion-label position="stacked" style="font-size: 25px;">PPO No</ion-label>
          <span>896780</span>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" class="itemav">
         <img src="../../../assets/imgs/aadhar.jpeg">
          </ion-avatar>
          <ion-label position="stacked" style="font-size: 25px;">PAN (Officer)</ion-label>
          <span>AL80TX</span>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" class="itemav">
            <img src="../../../assets/imgs/pan.jpeg">
          </ion-avatar>
          <ion-label position="stacked" style="font-size: 25px;">Arms/Service</ion-label>
          <span></span>
        </ion-item>
      </ion-card>
      <ion-card><ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="home-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Gal Award</ion-label>
        <span></span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Aadhar (Officer)</ion-label>
        <span>807639852547</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Mobile (user)</ion-label>
        <span>9740754903</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Alternate Mobile (user)</ion-label>
        <span></span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Email (user)</ion-label>
        <span>xyz@abc</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Spouse Name</ion-label>
        <span>ABC</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Spouse Date of Birth</ion-label>
        <span>11/11/1980</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Spouse Aadhar</ion-label>
        <span>7095479900</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Spouse PAN</ion-label>
        <span>EX67RF</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="mail-open-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Pensioner's Address</ion-label>
        <span>New Delhi</span>
      </ion-item>
    </ion-card>
  </div>
</ion-content>