<ion-header>
  <ion-toolbar style="    --background: #c73007;color: whitesmoke">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="user">
        <ion-label>UserId</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mpin">
        <ion-label>MPIN</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div  *ngIf="show" class="login-section ">
    <!-- <div class="heading">
      <ion-avatar>
        <img class="logo" src="../../../assets/imgs/logo.png">
      </ion-avatar>
    </div> -->
    <div  class="login-form ion-padding">
      <div class="form-input">
        
        <ion-item lines="none">
          <ion-icon name="mail-open-outline"></ion-icon>
          <!-- <ion-label position="floating">Email</ion-label> -->
          <ion-input type="mail" placeholder="Enter UserId" [(ngModel)]="username"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        
        <ion-item lines="none">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <!-- <ion-label position="floating">Password</ion-label> -->
          <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button ion-padding">
      <p class="forgetText" style="color: aliceblue">Forgot Password</p>
      <ion-button expand="round" size="large" class="login-button" (click)="login()" style="color:black" >Login</ion-button>
      <h5 class="logText" routerLink="/home" style="color:aliceblue">Back To Home</h5>
      <p style="color:aliceblue" (click)="registerIn()">Don't have an account?
        <br/> <a style="color:aliceblue">Register Here!</a>
         <!-- <h6>Register Here</h6> -->
      </p>
    </div>
  </div>


  <div *ngIf="dontshow" class="login-section ion-padding">
    <div class="heading ion-padding">
      <!-- <ion-avatar>
        <img class="logo" src="../../../assets/imgs/logo.png">
      </ion-avatar> -->
    </div>
    <div class="login-form ion-padding ">
      <div>
        <h3 style="color: aliceblue;">Enter MPIN</h3>
        <div style="margin-left: 9%;">
        <ng-otp-input class="otp"  #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
      </div>
      </div>
    </div>
    <div class="action-button ion-padding">
      <ion-button expand="round" size="large" class="login-button" style="color: black;">Login</ion-button>
      <p class="forgetText" routerLink="/creatempin" style="color: aliceblue;margin-top: 3%;">Create MPIN</p>
    </div>
  </div>
</ion-content>