<ion-content style="--padding-top: 2%;">
  <!-- <ion-card> -->
    <ion-row style="padding-left: 3%;">
      <ion-col (click)="openPage('1')"> <img width="50px" src="../../../assets/imgs/phone.png"><p>Contact Us</p></ion-col>
    
      <ion-col (click)="openPage('2')"><img width="50px" src="../../../assets/imgs/video-player.png"><p>Video Gallery</p></ion-col>
        <ion-col (click)="openPage('3')"><img width="50px" src="../../../assets/imgs/downloads.jpeg"><p>Downloads</p></ion-col>
      <ion-col (click)="openPage('4')"><img width="50px" src="../../../assets/imgs/info.png"><p>About Us</p></ion-col>
    </ion-row>
    <ion-row style="padding-left: 3%;">
      <ion-col (click)="openPage('5')"><img width="50px" src="../../../assets/imgs/whats-new.png"><p>What's New</p></ion-col>
      <ion-col (click)="openPage('6')"><img width="50px" src="../../../assets/imgs/status.png"><p>Check 7thCPC Status</p></ion-col>
      <ion-col (click)="openPage('7')"><img width="50px" src="../../../assets/imgs/userManual.jpeg"><p>User Manual</p></ion-col>
      <ion-col (click)="openPage('8')"><img width="50px" src="../../../assets/imgs/funeral.png"><p>Action on Demise</p></ion-col>
    </ion-row>
  <!-- </ion-card> -->
</ion-content>