<ion-header>
  <ion-toolbar style="--background: #c73007">
    <ion-buttons slot="start" >
      <ion-back-button style="color:aliceblue" defaultHref="/personalInfo"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:aliceblue">
      Schedule Appointment
    </ion-title>   
  </ion-toolbar>
  </ion-header>
<ion-content>
  <div class="login-section">
    <div class="login-form ion-padding">
      <div class="form-input">
        
        <ion-item lines="none">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input type="mail" placeholder="Purpose of visit">{{dobdate}}</ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        
        <ion-item lines="none" (click)="showDatepicker()" class="ion-item1">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-input type="text" placeholder="Date of Visit">{{dobdate}}</ion-input>
        </ion-item>
      </div>
        <div class="form-input">
        
          <ion-item lines="none">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <!-- <div class="selectdevice" style="margin-top: 10px;max-height: 100%;"> -->
              <!-- <ion-label>Select Profile For:</ion-label> -->
              <ion-select (ionChange)="profileChecked($event)" placeholder="Select Profile For" [value]="profile" ok-text="Okay" style="max-height: 100%;"
                cancel-text="Cancel">
                <ion-select-option value="10:00 AM-11:00 AM">10:00 AM-11:00 AM</ion-select-option>
                <ion-select-option value="12:00 PM-12:30 PM">12:00 PM-12:30 PM</ion-select-option>
                <ion-select-option value="12:00 PM-1:00 PM">12:00 PM-1:00 PM</ion-select-option>
                <ion-select-option value="12:00 PM-1:00 PM">12:00 PM-1:00 PM</ion-select-option>
                <ion-select-option value="12:00 PM-1:00 PM">12:00 PM-1:00 PM</ion-select-option>
              </ion-select>
            <!-- </div> -->
          </ion-item>
        </div>

        <div class="form-input">
        
          <ion-item lines="none" (click)="showDatepicker()">
            <ion-icon name="call-outline"></ion-icon>
            <ion-input type="number" placeholder="Mobile Number" ></ion-input>
          </ion-item>
        </div>
        <div class="form-input">       
          <ion-item lines="none">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input type="text" placeholder="Email ID" ></ion-input>
          </ion-item>
        </div>
     
    </div>
    <div class="action-button ion-padding">
      <ion-button size="small" class="login-button" (click)="login()" style="color:rgb(110, 10, 10)">Submit</ion-button>
      <!-- <ion-button  size="small" class="login-button" (click)="login()" style="color:black">Submit</ion-button> -->
    </div>

  </div>
</ion-content>