/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.popClass{
    --width:96vw
}
.popInfo{
    --width:60vw;
    top:-6%;
    ion-item{
        background: aliceblue;
    }
}
.segment-button-checked>label{
    //--color:rgb(48, 192, 192);
    color:rgb(48, 192, 192);
}
.alert-wrapper {
    width: 90% !important;
    max-width: 90% !important;
    }
    .alert-radio-label.sc-ion-alert-md{
        text-overflow:inherit;
        overflow-x: scroll;
    }
    .li-ionic4-datePicker{
        --ion-color-primary:  #c73007; // This Variable used for the change of colour ion-datepicker only.
        --ion-color-primary-tint: rgb(214, 153, 153); // This Variable changes the tint colour of background when click button.
        ion-button {
             --ion-color-primary:   #c73007; 
         --ion-color-primary-tint: #f9c67a;
        }
    }